body{
font-family: Arial;
margin:0;
background:#0b1a2a;
color:white;
}

header{
background:#08101c;
text-align:center;
padding:20px;
}

nav{
background:#111;
text-align:center;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

.hero{
background-image:url("https://images.unsplash.com/photo-1446776653964-20c1d3a81b06");
background-size:cover;
background-position:center;
height:500px;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.hero-text{
background:rgba(0,0,0,0.6);
padding:40px;
border-radius:10px;
}

.hero h2{
font-size:48px;
}
.cards{
text-align:center;
padding:40px;
}

.card{
display:inline-block;
width:250px;
margin:20px;
padding:20px;
background:#16263c;
border-radius:10px;
}

footer{
background:#08101c;
text-align:center;
padding:20px;
}